@import './theme.scss';

// 遍历主题map
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [theme = "#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin color($color) {
  @include themeify{
    color: themed($color);
  }
}
@mixin backgroundColor($color) {
  @include themeify{
    background-color: themed($color);
  }
}